.section-video {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(/img/fon.png); 
    height:570px;
}

.section-video-title {
    margin:0;
    padding-top:70px;
    padding-bottom: 30px;
    font-size: 2rem;
    line-height: 53px;
    color: #fff;
    text-align:center;
}

.section-video-text {
    margin:0;
    text-align:center;
    font-size: 1rem;
    line-height: 25px;
    color: #fff;
    padding-bottom: 70px;
}

.video-content {
    text-align:center;
    padding-bottom: 85px;
}

.video-content-item {
    background: url(/img/video.png) 50% 50% no-repeat;
    background-size: contain; /* Масштабируем фон */
    height:430px;
    width: 100%;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.video-content-item {
    display:flex;
    justify-content:center;
    align-items: center;
}

.btn-image {
    width: 60px;
    height:60px;
    margin-right:20px;
}

.video-content-setting {
    display:flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 200px;
    padding: 20px 30px 20px 40px;
    cursor:pointer;
}

.btn-text {
    font-size: 1rem;
    line-height: 25px;
    color:white;
}

.video-line {
    height: 1px;
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    margin-top: 0px;
    margin-bottom:85px;
}

.mailing-content {
    padding-top:250px;
    text-align:center;
}

.mailing {
    margin:0;
    font-size: 1.1rem;
    line-height: 22px;
}

.mailing-text {
    margin:0;
    margin-top:20px;
    color:#999999;
    font-size: 1rem;
    line-height: 25px;
    margin-bottom:30px;
}

.form-email {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.email {
   position:relative;
   padding-bottom:75px;
   width: fit-content;
   margin: auto;
}

.email-input {
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    height: 45px;
    width: 490px;
    outline: none;
    color:#999999;
    padding-left:33px;
    font-size: 13px;
    line-height: 21px;
    font-family: Montserrat;
}

.btn-email {
    position:absolute;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0px 30px 30px 0px;   
    height: 45px;
    width:190px;
    left :300px;
    border: 2px;
    color:white;
    font-size: 1rem;
    line-height: 20px;
    outline: none;
    cursor:pointer;
}

.mailin-btm-text {
    color:#999999;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    margin:0;
    padding-bottom:55px;
}


.footer-section {
    background-color:#F6F6F8;
}

.footer {
    display:flex;
    justify-content:center;
    gap:43px;
    padding:70px 0;
    flex-wrap:wrap;
}

.footer-item-title {
    margin:0;
    font-size: 1.1rem;
    line-height: 22px;
    margin-bottom:35px;
}

.footer-list {
    list-style:none;
    padding:0;
    margin:0;
}

.footer-list-item {
    margin-bottom:30px;
}

.footer-text {
    font-size: 14px;
    line-height: 22px;  
    color:#999999;
    text-decoration: none;
}

.footer-line {
    height: 1px;
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.footer-finish {
    margin:0;
    padding: 30px 0;
    text-align:center;
    font-size: 13px;
    line-height: 21px;
    color:grey;
}