.services {
    padding: 4rem 0;
}

.services-list {
    text-align:center;
    margin-bottom: 2rem;
}

.services-title {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #323232;
}

.services-text {
    color: #999999;
    font-size: 1rem;
    line-height: 25px;
}

.services-image {
    width: 40px;
    height: 40px;
    
}

.services-sites {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.services-sites-item {
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.services-creat-sites {
    margin-right: 2rem;
    margin-left: 20px;
    margin-top: 35px;
}

.services-sites-item-title {
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 22px;
}

.services-sites-text {
    font-size: 0.9rem;
    color: #999999;
    line-height: 22px;
}

.section-btn {
    text-align:center;
    padding:3rem 0;
}

.image-container {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}



.services-item-image {
    display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 110px;
  height: 110px;
  border: 1px solid grey;
  border-radius: 100%;
  cursor:pointer;
}

.services-item-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #4985FF;
    border-radius: 100%;
    transform: scale(0.82);
}




    

