@font-face {
    font-family: Montserrat;
    src:url(./Montserrat/Montserrat-Regular.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    width:100%;
    height:100%;
}


* {
    box-sizing: border-box;
}

body {
    font-size:16px;
    
}

.top-section {
    background-image: url(./img/nav-section.jpg);
    height: 900px;
    width:100%;
}

.top-nav {
    height: 100px;
    width:100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.main-nav {
    width: fit-content;
    display: flex;
    padding-top: 38px;
    margin-right:200px;
}

.main-nav a {
    color: #fff;
    padding: 0.875rem 1rem;
    padding-top: 0;
    text-decoration: none;
    font-size: 1rem;
    padding-bottom:2.5rem;
    border-bottom: 1px solid transparent;
}

.main-nav a:hover {
    border-bottom: 2px solid #FFFFFF;
}

.main-nav a.active {
    border-bottom: 1px solid #FFFFFF;
}

.top-text {
    display:flex;
    padding-top:220px;
    flex-direction: column;
    align-items:center;
    color:white;
}

.top-text-comment {
    font-size:1rem;
    font-style: normal;
    margin:0px;
}

.top-text-title {
    font-size:3rem;
    text-align:center;
    margin: 20px 0;
    font-weight: 800;
}

.top-button {
    background-color:#4985FF;
    width:200px;
    height:45px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border: 1px solid #4985FF;
    cursor:pointer;
    color:white;
    outline: none;
    margin-top:20px;
}